body {
  font-family: Century Gothic, Arial, Helvetica;
  font-size: 1em;
  padding: 10px;
}

h1 {
  margin: 26px 0;
}

.code-city-canvas {
  position: relative;
}

.code-city-legend {
  position: absolute;
  top: 0;
  left: 0;
  
  p {
    margin: 0;
  }
}

.node {
  position: absolute;
}