html
{
    font-family: Century Gothic, Arial, Helvetica;
    font-size:1em;
}

body
{
    padding:10px;
}

form
{

}

h1 {
  text-align: center;
  margin: 26px 0;
}

.code_chart {
  display: inline-block;
  zoom: 0.7;
}

#code_hierarchy_legend
{
    height:120px;
    font-size:1.4em;
    text-align:center;
    margin: 26px 0;

    h1 {
      margin: 26px 0;
    }
}
